/*
-----------------------------------------------
mxdn web design and hosting (xhtml)
Author:   Junaid Ahmed
Version:  2 Dec 2008
-----------------------------------------------
*/
*
{
    padding: 0;
    margin: 0;
}

html
{
    height: 100%;
}

body
{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: #ffffff url(../images/bg.jpg) repeat-x top left;
    font-size: 14px;
    color:#3b3b3b;
}

img
{
    border: none;
}

ul
{
    list-style-type: none;
}

p, ul, ol, table
{
    margin: 0 0 .75em;
    line-height: 1.5em;
    font-size:12px;

}

h1
{
    font-weight: normal;
    color: #3661aa;
    font-size: 32px;
    padding-bottom: 10px;
}

h3
{
    font-weight:normal;
    font-size:28px;
    color:#3661aa;
}


td
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

th
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a
{
    color:#3661aa;
    text-decoration:none;
}

a:hover
{
    color:#6e96d5;
}

a:visited
{
    color:#3b3b3b;
    text-decoration:underline;
}

div.top-right-banner
{
    position:fixed;
    top:0px;
    right:0px;
}

div.wrapper
{
    position: relative;
    width: 945px;
    margin: 0px auto 0 auto;
}


a.readmore, .submitbox, input[type="submit"]
{
    color:#ffffff;
    width:105px;
    height:20px !important;
    height:26px;
    background:#315ba3 url(../images/button.jpg) no-repeat;
    text-align:center;
    display:block;
    font-weight:bold;
    font-size:12px;
    padding-top:6px;
    border:none;
}

.submitbox, input[type="submit"]
{
    padding-top:0px;
    height:26px !important;
}

div.wrapper2
{
    background:url(../images/wrapper_top_half.jpg) no-repeat bottom center;
    min-height:300px;
}

div.wrapper3
{
    background:url(../images/wrapper.jpg) no-repeat center fixed;
    /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/wrapper_top_half.png",sizingMethod="scale"); */
    min-height:500px;
}

div.wrapper-dark
{
    background:url(../images/blue_wrapper_spacer.jpg) repeat-x top center;
}

div.wrapper-dark-inner
{
    background:url(../images/blue_wrapper.jpg) no-repeat top center;
    height:370px !important;
    height:400px;
    padding-top:30px;
    overflow:hidden;
}

div.wrapper-dark-inner .rightcolumn
{
    width:420px;
}

div.my-heading
{
    margin-bottom:25px;
}

div.short-body
{
    position: relative;
    margin: 0px auto 0 auto;
    width:860px;
    padding:10px;
}

.leftcolumn
{
    display:block;
    width:440px;
    float:left;
}

.rightcolumn
{
    display:block;
    width:400px;
    float:right;
}


.contact_us .wrapper2 .leftcolumn
{
    width:540px;
}

.contact_us .wrapper2 .rightcolumn
{
    width:300px;
}

div.footer
{
    background:url(../images/footer.jpg) repeat-x;
    height:97px;
    overflow:hidden;
}

div.footer .short-body
{
    margin-top:0px;
    padding:0px;
}

div.footer .short-body .rightcolumn
{
    text-align:right;
}

div.logo
{
    margin-top:10px;
    text-align:center;
}

ul.navigation
{
    background:url(../images/navigation_bar.png) no-repeat;
    height:70px;
    padding-left:70px;
    overflow:hidden;
}

ul.navigation li
{
    display:block;
    float:left;
    margin-left:20px;
    margin-right:20px;
    height:70px;
    width:90px;
    padding-top:25px;
    text-align:center;
}

ul.navigation li.active
{
    display:block;
    background:url(../images/navi_active.jpg) no-repeat left 14px;
    width:90px;
    text-align:center;
}

ul.navigation li.active-big
{
    display:block;
    background:url(../images/navi_active_big.jpg) no-repeat left 14px;
    width:150px;
    text-align:center;
}

ul.navigation li.active-big-empty
{
    display:block;
    background:none;
    width:150px;
    text-align:center;
}

ul.navigation li.active a, ul.navigation li.active-big a
{
    color:#ffffff;
    text-decoration:none;
}

ul.navigation li a
{
    font-weight:bold;
    font-size:13px;
    text-decoration:none;
}

.homepage ul.tick
{
    margin-top:10px;
    font-weight:bold;
}

ul.tick li
{
    background:url(../images/tick.jpg) no-repeat;
    padding-left:20px;
}



ul.gallery li
{
    border:5px solid #213b6c;
    margin-right:10px;
    margin-bottom:20px;
    display:block;
    float:left;
}

ul.gallery-big
{
    margin-top:30px;
    margin-bottom:30px;
}

ul.gallery-big li
{
    width:178px !important;
    height:118px !important;

    width:188px;
    height:128px;

    padding-left:10px;
    padding-top:10px;

    background:url(../images/img_frame.jpg) no-repeat;
    margin-right:20px;
    margin-bottom:20px;
    float:left;
}

.gallery .gallery-big
{
    margin-left:20px;
}

ul.form
{
    margin-top:30px;
    margin-bottom:30px;
    color:#000000;
}

ul.form li
{
    clear:both;
    padding-bottom:8px;
}

ul.form label
{
    font-weight:bold;
    cursor:pointer;
}


.contact_us ul.form
{
    width:325px;
    float:left;
}

.contact_us .rightcolumn ul.form
{
    width:290px;
    float:left;
}

.contact_us .rightcolumn ul.form li
{
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:1px solid #cccccc;
}

.contact_us .rightcolumn ul.form li .label
{
    width:70px;
}

.contact_us .rightcolumn ul.form li .field
{
    float:left;
}

.t_msgbox
{
    float:left;
    margin-top:30px;
    margin-bottom:30px;
    margin-left:15px;
}

.t_msgbox label
{
    display:block;
    font-weight:bold;
    padding-bottom:10px;
}

.label
{
    float:left;
}

.field
{
    float:right;
}

input[type="text"], .textbox
{
    width:180px;
    background:#ffffff;
    border:1px solid #919191;
}

input[type="checkbox"], .checkbox
{

}

textarea
{
    border:1px solid #919191;
    overflow:auto;
}

.imginput
{
    border:1px solid #919191;
}

img.securityimg
{
    display:block;
    margin-bottom:10px;
}

img.img-heding
{
    margin-top:15px;
    margin-bottom:15px;
}

.spec .tabular-data th
{
    font-size:11px;
    font-weight:normal;
    text-align:left;
}

.spec .tabular-data td
{
    font-weight:bold;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:1px solid #c3c3c3;
    color:#000;
    font-size:12px;
}

.spec_available, .spec .tabular-data .spec_available
{
    color:#cc0000;
}

.spec_size, .spec_bed, .spec_bath
{
    text-align:center;
}

.clearfix:after,ul.form li:after, div.wrapper2:after, div.wrapper3:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {display:inline-block;}
* html .clearfix {height:1%;}
.clearfix {display:block;}
.clear {clear:both;}

/********************************************* Lightbox ***************************************/
#jquery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 500px;
}
#jquery-lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
    position: relative;
    background-color: #fff;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
    position: absolute;
    top: 40%;
    left: 0%;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}
#lightbox-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
    width: 49%;
    height: 100%;
    zoom: 1;
    display: block;
}
#lightbox-nav-btnPrev {
    left: 0;
    float: left;
}
#lightbox-nav-btnNext {
    right: 0;
    float: right;
}
#lightbox-container-image-data-box {
    font: 10px Verdana, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0 auto;
    line-height: 1.4em;
    overflow: auto;
    width: 100%;
    padding: 0 10px 0;
}
#lightbox-container-image-data {
    padding: 0 10px;
    color: #666;
}
#lightbox-container-image-data #lightbox-image-details {
    width: 70%;
    float: left;
    text-align: left;
}
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
    display: block;
    clear: left;
    padding-bottom: 1.0em;
}
#lightbox-secNav-btnClose {
    width: 66px;
    float: right;
    padding-bottom: 0.7em;
}
